/* ===== START RESET ========== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    height: 5000px;
    line-height: 1.5;
}

ul {
    list-style: none;

}

a {
    text-decoration: none;
}

/*======== END RESET ============*/
/*===== START GLOBALS ========== */
.container {
    width: 87%;
    margin: auto;
}

.clear-fix {
    clear: both;
}

.color-main {
    color: #ff305b;
}

.color-secondary {
    color: #333333;
}

.bg-main {
    background-color: #ff305b;
}

.bg-secondary {
    background-color: #333333;
}

.text-center {
    text-align: center;
}

/* ======= END GLOBALS ========== */
/* ========  START HEADER ======= */
.header {
    height: 100vh;
    background-image: url(imgs/slider-01.jpg);
    background-size: cover;
    position: relative;
    color: white;
    line-height: normal;
}

/* background overlay */
.header .overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #000000cc;
    z-index: 1;
}

/*  NAVBAR */
.header .header-content .navbar {
    padding: 20px 0;
}

.header .header-content .navbar .nav-item {
    float: left;
}

.header .header-content .navbar .nav-logo {
    width: 30%;
}

.header .header-content .navbar .nav-logo a {
    font-size: 24px;
    font-weight: 800;
}


.header .header-content .navbar .nav-links {
    width: 70%;
}

.header .header-content .navbar .nav-links ul {
    float: right;
}

.header .header-content .navbar .nav-links ul li {
    float: left;
    margin-right: 20px;

}

.header .header-content .navbar .nav-links ul li a {
    color: white;
    font-weight: 300;
    font-size: 18px;
    transition: all 0.5s ease;

}

.header .header-content .navbar .nav-links ul li:hover a {
    color: #ff305b;
}

.header .header-content .navbar .nav-links .active-link {
    color: #ff305b;
}

/*  NAVBAR */
.header .header-content {
    position: relative;
    z-index: 2;
    height: 60px;
    height: 100%;
}

.header .header-content .header-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.header .header-content .header-text span {
    font-size: 24px;
    font-weight: 600;
}

.header .header-content .header-text h1 {
    font-size: 70px;
    margin: 10px 0;
}

.header .header-content .header-text p {
    font-size: 26px;
    font-weight: 300;
}

/* =========END HEADER ========== */

/* =======  START ABOUT  ======== */
.about {
    margin-top: 100px;
}

.about .about-section {
    float: left;
    width: 50%;
}

.about .about-pic {}

.about .about-pic .img-container {
    border: 10px solid #555555;
    width: 65%;
    margin: auto;
    border-radius: 5px;
}

.about .about-pic .img-container .img-box {
    width: 100%;
    transform: translate(30px, 30px);
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
}

.about .about-pic .img-container .img-box .about-social {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.57);
    transform: translateY(100%);
    transition: all 0.4s ease-out;
}

.about .about-pic .img-container .img-box:hover .about-social {
    transform: translateY(0);
}


.about .about-text {}

.about .about-text h2 {
    border-left: 5px solid #ff305b;
    padding-left: 10px;
    font-weight: 600;
    font-size: 34px;
    color: #333333;
    margin-bottom: 10px;
}

.about .about-text p {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
}

.about .about-text hr {
    border: 1px dashed #999999;
    margin-bottom: 20px;
}

.about .about-text .info li {
    float: left;
    width: 40%;
    font-size: 16px;
    font-weight: 400;
    color: #555;
    margin-bottom: 25px;
}

.about .about-text .info li a {
    color: #555;
}

.about .about-text .info li span {
    font-weight: bold;
    color: #333333;
}

.about .btns {
    margin-top: 20px;
}

.about .btns button {
    padding: 15px 30px;
    border: 0;
    border-radius: 5px;
    color: white;
    font-weight: 400;
    font-size: 18px;
    transition: all 0.3s ease;
    margin-right: 20px;

}

.about .btns button:hover {
    background-color: #ec2403;
}

/* ======== END ABOUT =========== */

/* ======  START SERVICES ======= */

/* ======== END SERVICES ======== */

/* ====== START PORTFOLIO ======= */

/* ======= END PORTFOLIO ======== */

/* =======START TESTMONIALS ===== */

/* ======END TESTMONIALS ======== */

/* ======  START BLOG ============*/

/* ====== END BLOG ============== */

/* ========= START CONTACT ====== */

/* ======= END CONTACT ========== */

/* ========  START FOOTER ======= */

/* ======== END FOOTER ========== */